
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #cacaca;
}



/* header styling */

header {
  background-color: blue;
  /* color: hotpink; */
  padding-top: 0;
  width: 100%;
  background-size: 100% auto;
  position:fixed;
     
} 


  header nav ul {
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
  
    
} 
header a {
    text-decoration: none;
    color:black;
}


.li1:hover {
  background-color: lightcoral;
  font-weight: bold;
}

.li2:hover {
  background-color: lightcoral;
  font-weight: bold;
}

.li3:hover {
  background-color: lightcoral;
  font-weight: bold;
}

/* header styling end */



/* utility styling */
.sideHeading {
  padding: 20px;
  margin: 20px;
  border-right: lightcoral solid 3px;
  width: 190px;
  font-size: 40px;
}

/* utility styling end */





/* hero section styling */

.hero {
  padding-top: 50px;
  text-align: center;
  background-color: lightcoral;

}

.hero img {
  height: 200px;
}



/* hero section styling end */



/* about me section styling */

.content {
  max-width: 800px;
  /* float: right; */
  margin-bottom: 200px;
  padding-left: 200px;
}


/* about me section styling end */




/* work section styling */
.container {
  /* background-color: #cacaca; */
  padding:10px;
  margin:50px;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  /* align-items: center; */
  flex-wrap: wrap;
}



.item {
  /* background-color: red; */
  color: white;
  font-size: 35px;
  padding: 20px;
  margin:10px;
  
}

.item h3 {
  position: absolute;
  font-size: 20px;
  background-color: lightcoral;
  color: black;
}

.item img {
  border: solid 3px lightcoral;
}

.items-1 img{
  height:150px;
  width: 550px; 
}

.items-1:hover img{
  height:200px;
  width: 600px;
  border: blue solid 3px;
}

.items-2 img{
  height:120px;
  width: 250px; 
}

.items-2:hover img{
  height:170px;
  width: 300px;
  border: blue solid 3px;
}

.items-3 img{
  height:120px;
  width: 250px; 
}

.items-3:hover img{
  height:170px;
  width: 300px;
  border: blue solid 3px;
}

.items-4 img {
  height:120px;
  width: 250px;  
}

.items-4:hover img{
  height:170px;
  width: 300px;
  border: blue solid 3px;
}

.items-5 img{
  height:120px;
  width: 250px; 
}

.items-5:hover img{
  height:170px;
  width: 300px;
  border: blue solid 3px;
}




/* work section styling end */

/* footer styling */

.content a {
  padding: 100px;
}

/* footer styling end */
